body {
  background-color: white;
  font-family: verdana, sans-serif;
}

a {
  background-color: #ffffe0;
  color: blue;
  text-decoration: none;
  display: block;
  float: right;
  padding: 10px;
}

a:hover {
  background-color: #add8e6;
}

h1 {
  text-align: center;
  font-size: 200%;
}

<style>
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color: black;
    height:300px;
    width:75px;
    float:left;
    padding:5px;
}

#section {
    background-color: yellow;
    width:225px;
    float:left;
    padding:20px;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
</style>

